body{

  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  color:white;
}


.card {
  margin-top: 80px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 300px;
  height:340px;
  float: left;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
  width:50%;
  left:0px;
}
#ss{
  font-family: 'Roboto Condensed', sans-serif;
  margin-left:50%;
  height: 100px;
  font-size: 20px;
}
.right{
  margin-top: 100px;
}
/*--Footer*/
#feet{
  text-align: center;
  background-color: #b8bbf2;
  color:white;
  margin-top:300px;
  margin-left: 12px;
  margin-right: 12px;
  padding: 10px solid black;
}
/*Here are the settings of footer paragraph ALLrights*/
#feet2{
  text-size:12px;
  text-align: center;
  background-color: #bec6cf
}
#UCG{
  text-align: center;
  margin-top: 80px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 310px;
  height:680px;
  float: left;
}
#header{
  margin-top:60px;
  text-decoration: underline;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 90px;
  font-weight: bold;
  width: 100%; /* Full width */
  transition: 0.3s top bottom;
  /* Add a transition effect (when scrolling - and font size is decreased) */
  text-decoration-color: linear-gradient(to right,#463f64,#463f64, #e2285c, #e2285c);
}
/*Button positioning is done here*/
#btnpos{
  position: sticky;
  text-align: right;
  margin-top: 180px;
  margin-right: 170px;
}
