.card {
  margin-top: 80px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 350px;
  height:450px;
  float: left;
  background-color: #6291de;
  border-radius: 12px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color: white;
}

#fg {
  padding: 2px 16px;
  margin-left: 300px;
}
h3{
  text-align: center;
}
#lh{
  margin-bottom: 10px;
}
.form-control:focus{
  border-color: #8edfe8;
}
form{
  width:320px;
  margin-left: 12px;
}

#rr{
  text-align: center;
}
#feet{
  text-align: center;
  background-color: #b8bbf2;
  color:white;
  margin-top:300px;
  margin-left: 12px;
  margin-right: 12px;
  padding: 10px solid black;
}
/*Here are the settings of footer paragraph ALLrights*/
#feet2{
  text-size:12px;
  text-align: center;
  background-color: #bec6cf
}
