/*Table 1 editing*/
span {
  content:"\00A9";
}

#feet{
  text-align: center;
  background-color: #b5bcc4;
  color:white;
  margin-top:30px;
  margin-left: 12px;
  margin-right: 12px;
  padding: 10px solid black;
}
/*Here are the settings of footer paragraph ALLrights*/
#feet2{
  text-align: center;
  background-color: #bec6cf
}

#jk{
  text-decoration: underline;
  margin-top: 70px;
  text-align: center;
background-image: linear-gradient(to right,#463f64,#463f64, #e2285c, #e2285c);
-webkit-background-clip: text;
display: inline-block;
padding: 14px;
-webkit-text-fill-color: #00000000;
text-size:20px;
}
/**Table 2 editing*/
#btnpos{
  width:200px;
  position: sticky;
  text-align: right;
  margin-top: 190px;
  margin-right: 170px;
}
#btnpos1{
  position: sticky;
  text-align: left;
  margin-right:340px;
}
/*Table Search bar*/
#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}
